body {
    font-family: Arial, sans-serif;
    background-color: #efe6de;
    color: #9a0002;
    margin: 0;
    padding: 0;
}


h1 {
    color: #9a0002;
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}
h2 {
    color:#9a0002;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9a0002;
    padding: 10px;
}

nav {
    position: sticky;
    top: 0;
}

nav h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #efe6de;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    text-align: left;
    padding: 20px 40px;
} 

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 40px;
    margin: 10px;
    padding: 0px;
}

nav ul li a {
    color: #efe6de;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}


header {
    display: flex;
    align-items: center;
   
    padding: 40px;
    color: #9a0002;
}

.header-texto {
    max-width: 60%;
    font-size: 18px;
}

.header-imagem img {
    margin: 80px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}
section {
    margin: 100px;
    padding: 80px;
}


section p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

section a {
    color: #efe6de;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

.sobre {
    background-color: #9a0002;
    border-radius: 10px;
    color: #efe6de;
    font-size: 40px;
}
.sobre h2 {
    color: #efe6de;
}

.contatos {
    background-color: #9a0002;
    color: #efe6de;
    padding: 20px;
    margin: 0px;
}

.contatos h2 {
    color: #efe6de;
    text-align: center;
}

.conteudo-contatos {
    display: flex;
    margin: 10px;
    padding: 10px 40px;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
}


.conhecimentos {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    text-align: left;
}

.texto-conhecimentos h2 {
    margin-bottom: 8px;
    font-size: 50px;
}

.btn-certificados {
    text-align: right;
    background-color: #9a0002;
    color: #efe6de;
    padding: 10px 50px;
    border-radius: 5px;
    text-decoration: none;       
    margin-right: 0;        
    margin-left: auto;
}

.btn-certificados:hover {
    background-color: #9a0002;
}


footer {
    background-color: #9a0002;
    color: #efe6de;
    text-align: center;
    padding: 20px;
}